@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@keyframes ocean-flow {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-ocean-flow {
  background-size: 300% 300%;
  animation: ocean-flow 5s linear infinite;
}

@keyframes waveGradient {
}

.bg-gradient {
  background: linear-gradient(270deg, #8b0000, #ff4500);
  background-size: 300% 300%;
}
